@model OnlineHelpDesk.Models.Request

@{
    ViewData["Title"] = "Details";
}

<script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.30907" type="text/javascript"></script>
<script type="text/javascript">
    JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.newPaymentUIForNewCreatedForms = false;
    JotForm.newPaymentUI = true;

    JotForm.init(function () {
        /*INIT-START*/
        if (window.JotForm && JotForm.accessible) $('input_21').setAttribute('tabindex', 0);
        if (window.JotForm && JotForm.accessible) $('input_22').setAttribute('tabindex', 0);
        if (window.JotForm && JotForm.accessible) $('input_20').setAttribute('tabindex', 0);
        JotForm.setCustomHint('input_20', 'Type here...');
        /*INIT-END*/
    });

</script>
@*<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>*@
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.30907" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.30907" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
    .form-label.form-label-auto {
        display: block;
        float: none;
        text-align: left;
        width: 100%;
    }
    /* Injected CSS Code */
</style>

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Requestor
        </dt>
        <dd class="col-sm-10">
            @ViewBag.userFullName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityId)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.facilities)
            {
                if (item.FacilityId == Model.FacilityId)
                {
                    @item.FacilityName
                }
            }
        </dd>
        @if (ViewBag.requestSamples == null)
        {

        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RequestSampleId)
            </dt>
            <dd class="col-sm-10">
                @foreach (var item in ViewBag.requestSamples)
                {
                    if (item.RequestSampleId == Model.RequestSampleId)
                    {
                        @item.Content
                    }
                }
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Remark)
        </dd>


        @if (Model.Status == "Report")
        {
            <form asp-action="Feedback" asp-controller="Report" method="post">

                <input type="text" asp-for="RequestId" hidden />

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Feedback)
            </dt>
            <dd class="col-sm-10">
                <textarea id="input_20" class="form-textarea ckeditor" asp-for="Feedback" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_20"></textarea>


                <div id="cid_2" class="form-input-wide" data-layout="full">
                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                        <button id="btnSubmit" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                            Submit
                        </button>
                    </div>
                </div>
            </dd>

            </form>
        }



    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/ckeditor/ckeditor.js"></script>