@{
    ViewData["Title"] = "Set Role Account";
}


<!--CND VueJs-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>

<h3 style="text-align:center; margin-bottom:2%">Set Role New Account</h3>
<div class="row" id="myApp">
    <div class="col-sm-3"></div>



    <div class="col-sm-6">
        <form asp-action="SetRole" asp-controller="Account" method="post">

            <input type="text" name="Id" hidden  value="@ViewBag.Id" />


            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label class="control-label" style="text-align:left">Choose Access:</label>
                </div>
                <div class="col-sm-7">
                    <select name="roles" ref="roles" v-on:change="show()"  class="form-control">

                        @foreach (var item in ViewBag.Roles)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }


                    </select>

                </div>
            </div>

            <div class="row" style="margin-bottom:5%" v-show="ishow">
                <div class="col-sm-5">
                    <label class="control-label" style="text-align:left">Choose Access:</label>
                </div>
                <div class="col-sm-7">
                    <select name="Facility" class="form-control" id="Facility">

                        @foreach (var item in ViewBag.Facility)
                        {
                            if (item.FacilityId != 1)
                            {
                                <option value="@item.FacilityId">@item.FacilityName</option>
                            }


                        }


                    </select>

                </div>
            </div>


            <div class="row" style="margin-bottom:5%">

                <div class="col" style="text-align:center">


                    <input type="submit" class="btn btn-outline-success" value="Create New Account" />
                </div>
            </div>

        </form>
    </div>


    <div class="col-sm-3"></div>
    </div>



<script>
    var tmp = document.getElementById("Facility").innerHTML;

    var App = new Vue({
        el: "#myApp",
        data() {
            return {

                ishow: false

            }

        },
        methods: {

            show: function () {

                let role = this.$refs.roles.value



                if (role == 1 || role == 2) {
               
                    this.ishow = false
                } else if (role == 2) {
                

                    this.ishow = true

                } else if (role == 4) {
                    document.getElementById("Facility").innerHTML = tmp;

                    this.ishow = true
                }

                if (role == 3) {
                    this.ishow = true
                    document.getElementById("Facility").innerHTML =` <option value="Rec1">Receiver Room</option>`
                }


            }

        }

    })
</script>

