@model IEnumerable<OnlineHelpDesk.Areas.Admin.Models.FacilityCategory>

@{
    ViewData["Title"] = "Facility Category List";
}

<h1>Facility Category List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacilityCategoryId">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.FacilityCategoryId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.FacilityCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
